.fields {
  padding: 2rem 0;
}

.fields-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fields-container {
  width: 100%;
  padding: 0 6rem;
  overflow: hidden;
  box-sizing: border-box;

  &.no-scroll {
    touch-action: none;
    pointer-events: none;

    .embla__container {
      pointer-events: auto;
    }
  }
}

.fields-title {
  color: #b8e5ed;
  font-size: 2rem;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
  padding: 3.75rem 6rem 1.8rem 6rem;
}

.embla__container {
  display: flex;
  gap: 12px;
  width: 100%;
  margin-left: 0 !important;
}

.embla__slide {
  flex: 1 1 0;
  min-width: 0;
}

.field-card {
  background-color: #0b273e;
  color: #b8e5ed;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: "Reddit Sans";
  flex: 1 1 0;
  min-width: 200px;
  aspect-ratio: 4 / 5;
  min-height: 15rem;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;

  .field-image {
    width: 90%;
    height: 80%;
    object-fit: contain;
    margin-bottom: auto;
    transition: scale 0.2s ease-in-out;


    &:hover {
      scale: 1.05;
      transition: scale 0.2s ease-in-out;
    }
  }

  .field-text {
    text-align: center;
    margin-top: 0.5rem;
  }
}

@media (min-width: 1441px) {
  .fields-title {
    padding: 3.75rem 18rem 1.8rem 18rem;
    overflow: visible;
  }
  .embla__container {
    width: 100%;
    justify-content: space-between;
  }
  .fields-container {
    width: 100%;
    padding: 0 18rem;
  }
}
@media (max-width: 766px) {
  .fields-title {
    padding: 3.75rem 20px 1.8rem 20px;
    overflow: visible;
  }
  .fields-container {
    width: 100%;
    padding: 0 20px;
  }
}
