.price-button {
  font-family: "Bricolage Grotesque";
    background-color: #CCEDF4;
    color: #011524;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    padding: 8px 15px;
    text-wrap: nowrap;
    border-radius: 4px;
    font-size: 1rem;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
  
    @media (min-width: 768px) {
      padding: 12px 40px;
    }
  
    &:is(:hover, :focus-visible) {
      color: #04131D;
      background-color: #ffffff;
    }
  }
  