#hero {
    // border: 2px saddlebrown solid;
    position: relative;
    overflow: hidden;
    font-family: 'Bricolage Grotesque';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    color: #D3F4FA;
    
    background-image: 
      linear-gradient(to bottom, #011524, #1F4E6C); 
      background-repeat: repeat;       
      background-size: auto, cover;    
      background-blend-mode: overlay;  

    .right1 {
        position: absolute;
        top: 10%;
        right: 5%;
        width: 8.043px;
        height: 8.043px;
        @media(max-width:1140px){
            top: 8%;
            right: 25%;
            width: 10px;
            height: 10px;
        }
        @media(max-width:678px){
            top: 6%;
            right: 30%;
        }
    }

    .right2 {
        position: absolute;
        top: 17%;
        right: 10%;
        width: 8.17px;
        height: 8.17px;
        @media(max-width:1140px){
            top: 25%;
            right: 3%;
        }
        @media(max-width:678px){
            top: 10%;
            right: 16%;
            width: 13px;
            height: 13px;
        }
    }

    .right3 {
        position: absolute;
        top: 24%;
        right: 4%;
        width: 15.211px;
        height: 15.211px;
        @media(max-width:1140px){
            top: 40%;
            right: 20%;
            width: 15px;
            height: 15px;
        }
        @media(max-width:678px){
            top: 53%;
        }

        @media(max-width:575px){
            top: 49%;
            right: 22%;
        }
        @media(max-width:470px){
            top: 50%;
            right: 11%;
        }
        @media(max-width:399px){
            display: none;
        }

    }

    .top1 {
        position: absolute;
        top: 5%;
        left: 49%;
        width: 5.066px;
        height: 5.066px;
        @media(max-width:963px){
            left: 20%;
            top: 10%;
        }
        @media(max-width:678px){
            display: none;
        }
    }

    .top2 {
        position: absolute;
        top: 10%;
        left: 45%;
        width: 14px;
        height: 14px;
        @media(max-width:963px){
            left: 7%;
            top: 14%;
        }
        @media(max-width:678px){
            display: none;
        }
       
    }

    .left1 {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 10px;
        height: 10px;
        @media(max-width:877px){
            display: none;
        }
    }

    .left2 {
        position: absolute;
        top: 40%;
        left: 4%;
        width: 8px;
        height: 8px;
        @media(max-width:678px){
            display: none;
        }

    }

    .left3 {
        position: absolute;
        top: 55%;
        left: 2%;
        width: 9px;
        height: 9px;
        @media(max-width:678px){
            top: 63%; 
            left: 8%; 
        }
        @media(max-width:470px){
            top: 71%;
        }
    }

    .bottom1 {
        position: absolute;
        top: 56%;
        left: 42%;
        width: 7px;
        height: 7px;
        @media(max-width:1140px){
            left: 50%;
            top: 65%;
            width: 15px;
            height: 15px;
        }
        @media(max-width:678px){
            left: 20%;
            top: 67%;
        }
        @media(max-width:470px){
            top: 74%;
        }
    }
    .bottom2 {
        position: absolute;
        top: 41%;
        left: 46%;
        width: 9px;
        height: 9px;
        @media(max-width:1140px){
            left: 55%;
            top: 60%;
            width: 7px;
            height: 7px;
        }
        @media(max-width:678px){
            left: 70%;
        }
        @media(max-width:575px){
            top: 53%;
        }
        @media(max-width:470px){
            top: 55%;
            left: 77%;
        }
        @media(max-width:399px){
            display: none;
        }
        
    }
    .bottom3 {
        position: absolute;
        top: 42%;
        left: 30%;
        width: 11px;
        height: 11px;
        @media(max-width:1140px){
            display: none;
        }
        @media(max-width:575px){
            display: block;
            top: 70%;
            left: 10%;
        }
        @media(max-width:470px){
            top: 77%;
        }
    }

    .bottom4 {
        position: absolute;
        top: 45%;
        left: 26%;
        width: 17px;
        height: 17px;
        @media(max-width:1140px){
            display: none;
        }
    }

    .bottom5 {
        position: absolute;
        top: 41%;
        left: 13%;
        width: 14px;
        height: 14px;
        @media(max-width:1140px){
            display: none;
        }
    }

    .bottom6 {
        position: absolute;
        top: 47%;
        left: 9%;
        width: 13px;
        height: 13px;
        @media(max-width:1140px){
            display: none;
        }
    }

    .heroContent{
        width: 100%;
        padding-right: 2rem;
        @media(max-width: 678px){
            margin-left: 0.9rem;
        }

    // .right1 {
    //     position: absolute;
    //     top: 0;
    //     right: 70%;
    // }
    }


    h1{
        font-size: 2.5rem;
        max-width: 900px;
        margin-left: 6rem;
        line-height: 3rem;
        padding: 1rem;
        font-weight: 500;

        @media(max-width: 678px){
            margin-left: 20px;
            padding-left: 0;
            font-size: 2.3rem;
            line-height: 2.5rem;


        }
    }
    .eventsContainer{
        // border: 2px solid orange;
        width: fit-content;
        margin-top: 0.8rem;
        margin-left: 7rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: nowrap;
        @media(max-width:1140px){

            display: flex;
            flex-direction: column-reverse;
            justify-content: start;
            align-items: start;
            max-width: 400px;
            // margin-left: 0;
        }

        @media(max-width: 678px){
            margin-left: 20px;
        }

    }
    .priceHero{
        flex-direction: row-reverse;
        padding: 8px 20px 8px 16px;

    }

    .outer{
        font-family: "Reddit Sans";
        font-weight: normal;
        color: #D3F4FA;
        @media(max-width: 678px){
            margin-top: -0.5rem;
        }
    }

    .outer .inner{
        // text-wrap: nowrap;
        opacity: 0.8;
        font-family: "Reddit Sans";
        display: flex;
        font-size: 0.9rem;
        gap: 0.5rem;
        text-decoration: underline;
        font-weight: normal;


    }

  }
  
