#hero {
    font-family: 'Bricolage Grotesque';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    // position: relative;
    color: #D3F4FA;
    // border: 2px solid yellow;
    // height: 100%;
    // width: 100%;
  

    background-image: 
    //   url('/noise.webp'), 
      linear-gradient(to bottom, #011524, #1F4E6C); 
      background-repeat: repeat;       
      background-size: auto, cover;    
      background-blend-mode: overlay;  

    
    // .wave{
    //     margin-top: 15rem;
    //     width: 100%;                     /* takes full width of parent/screen */
    //     // max-width: 1400px;               /* caps at desktop width */
    //     min-width: 631px;                /* never smaller than phone width */
    //     aspect-ratio: 1281 / 300;       /* keeps height proportional */
    //     background: linear-gradient(179deg, #235E83 1.77%, #173F5B 70.56%);
    //     position: relative;              /* needed for absolute children */
          
    // }

    .heroContent{
        width: 100%;
        // position: absolute;
        // top: 15%;
        padding-right: 2rem;
    }
    h1{
        font-size: 2.5rem;
        // margin-top: 12rem;
        // border: 2px solid rgb(51, 210, 96);
        max-width: 900px;
        margin-left: 6rem;
        line-height: 3rem;
        padding: 1rem;
        font-weight: 500;
        // margin-inline: auto;

        @media(max-width: 678px){
            margin-left: 2rem;
        }
    }
    .eventsContainer{
        // border: 2px solid orange;
        width: fit-content;
        margin-top: 1.5rem;
        margin-left: 7rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        @media(max-width:894px){

            display: flex;
            flex-direction: column-reverse;
            justify-content: start;
            align-items: start;
            max-width: 400px;
            // margin-left: 0;
        }

        @media(max-width: 678px){
            margin-left: 3rem;
        }

    }
    .priceHero{
        flex-direction: row-reverse;
        padding: 8px 15px;

    }

    .outer{
        font-weight: normal;
    }

    .outer .inner{
        // text-wrap: nowrap;
        display: flex;
        font-size: 0.75rem;
        gap: 0.5rem;
        text-decoration: underline;
        font-weight: normal;

    }

//     #wave1{
//         //THIS IS JUST THE INITAL TRY, I AM GOING TO MAKE IT BETTER LATER
//         margin-top: 6rem;
//         width: 100%;
//         height: auto;
//         // animation: floatWave 3s ease-in-out infinite   
//     }

//     #bigBoulder{
//         position: absolute;
//         // left: 0;
//         right: -10%;
//         top: 13%;
//         animation: floatWave 3s ease-in-out infinite   

//     }

//     #bigBoulderFilter{
//         position: absolute;
//         // left: 0;
//         right: -10%;
//         top: 50%;
//         // border: 2px solid rebeccapurple;
//     }

//     #smallBoulder{
//         position: absolute;
//         // left: 0;
//         left: -6%;
//         top: 36%;
//         animation: floatWave 4s ease-in-out infinite   
//     }

//     #smallBoulderFilter{
//         position: absolute;
//         // border: 2px solid purple;
//         top: 50%;
//     }

//     #whiteWaves{
//         position: absolute;
//         top: 50%;
//     }

//     @keyframes floatWave {
//         0%, 100% {
//         transform: translateY(0);
//         }
//         50% {
//         transform: translateY(20px); // moves up/down 10px
//         }
//   }

//     @keyframes floatWave2 {
//         0%, 100% {
//         transform:  rotate(0);
//         }
//         50% {
//         transform: rotate(3deg);
//         }
//     }
  



  }
  
