#hero {
    // border: 2px saddlebrown solid;
    overflow: hidden;
    font-family: 'Bricolage Grotesque';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    color: #D3F4FA;
    
    background-image: 
      linear-gradient(to bottom, #011524, #1F4E6C); 
      background-repeat: repeat;       
      background-size: auto, cover;    
      background-blend-mode: overlay;  

    .heroContent{
        width: 100%;
        padding-right: 2rem;

    }

    // #stars{
    //     position: absolute;
    //     z-index: 1; 
    //     top: -50%;
    //     width: 100%;
    //     height: 500px;
    //     object-fit: cover;   
    //     object-position: center;
    //     border: 2px solid red;
    //     pointer-events: none; 
    // }
    h1{
        font-size: 2.5rem;
        max-width: 900px;
        margin-left: 6rem;
        line-height: 3rem;
        padding: 1rem;
        font-weight: 500;

        @media(max-width: 678px){
            margin-left: 2rem;
        }
    }
    .eventsContainer{
        // border: 2px solid orange;
        width: fit-content;
        margin-top: 1.5rem;
        margin-left: 7rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        @media(max-width:894px){

            display: flex;
            flex-direction: column-reverse;
            justify-content: start;
            align-items: start;
            max-width: 400px;
            // margin-left: 0;
        }

        @media(max-width: 678px){
            margin-left: 3rem;
        }

    }
    .priceHero{
        flex-direction: row-reverse;
        padding: 8px 18px;

    }

    .outer{
        font-family: "Reddit Sans";
        font-weight: normal;
        color: #D3F4FA;
    }

    .outer .inner{
        // text-wrap: nowrap;
        font-family: "Reddit Sans";

        display: flex;
        font-size: 0.8rem;
        gap: 0.5rem;
        text-decoration: underline;
        font-weight: normal;

    }

  }
  
