#bubbles {
  padding: 0 6rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 767px) {
    padding: 0 20px;
    padding-top: 6rem;
  }

  h2 {
    text-align: left;
    color: #D3F4FA;
    margin: 0;
  }
}

.bubbles-container {
  background-color: #2a5a7c;
  width: 100%;
  height: 491px;
  border-radius: 0.5rem;
}
