#bubbles {
  padding: 0 6rem;
  padding-top: 6rem;

  @media (max-width: 767px) {
    padding: 0 20px;
    padding-top: 6rem;
  }
}

.bubbles-container {
  background-color: #2a5a7c;
  width: 100%;
  height: 491px;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
}

h2 {
  font-family: "Bricolage Grotesque";
  font-size: 2rem;
  text-align: left;
  font-weight: 500;
  color: #D3F4FA;
}
