nav {
    font-family: "Bricolage Grotesque";
    padding: 20px 32px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    color: #D3F4FA;
    z-index: 1;
  
    #desktop-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @media (max-width: 678px) {
        display: none;
      }
  
      ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        align-items: center;
        
        li:hover {
          color: #ffffff;
        }
      }
  
      .strideSpan {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2rem;
        &:hover {
          color: #ffffff;
        }
      }
  
      .priceNav {
        padding: 5px 16px;

      }
    }
  
    #mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @media (min-width: 679px) {
        display: none;
      }
  
      .strideSpan {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2rem;
  
        @media (max-width: 679px) {
          font-size: 1.75rem;
        }
      }
    }
  
    // Mobile dropdown menu
    .mobile-menu {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      background-color: #031019;
      padding: 20px 32px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      // height: 100vh;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      transform: translateY(-20px);
      pointer-events: none;
      z-index: 0;

      .mobile-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;

        .strideSpan {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 2rem;

          @media (max-width: 679px) {
            font-size: 1.75rem;
          }
        }
      }

      .mobile-menu-content {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-inline: auto;

        .priceHero {
          padding: 5px 40px;
          }
      }
  
      ul {
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        font-size: 1rem;
        color: #D3F4FA;
        cursor: pointer;
        
        li:hover {
          color: #ffffff;
        }

        
      }
  
      @media (max-width: 678px) {
        display: flex;
      }
  
      &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
        z-index: 10;
      }
    }
  }
  