nav {
    font-family: "Bricolage Grotesque";
    padding: 20px 32px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    color: #D3F4FA;
    z-index: 1;
  
    #desktop-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @media (max-width: 678px) {
        display: none;
      }
  
      ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        font-weight: 400;
        font-size: 1rem;
        cursor: pointer;
        align-items: center;
      }
  
      .strideSpan {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2rem;
      }
  
      .priceNav {
        background-color: #CCEDF4;
        padding: 5px 16px;
        color: #04131D;
      }
    }
  
    #mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @media (min-width: 679px) {
        display: none;
      }
  
      .strideSpan {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2rem;
  
        @media (max-width: 679px) {
          font-size: 1.75rem;
        }
      }
    }
  
    // Mobile dropdown menu
    .mobile-menu {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      background-color: rgba(4, 19, 29, 0.95);
      padding: 20px 32px;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      transform: translateY(-20px);
      pointer-events: none;
      border-radius: 1rem;
      z-index: 0;
  
      ul {
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        font-size: 1rem;
        color: #D3F4FA;
  
        .priceNav {
          background-color: #CCEDF4;
          padding: 5px 16px;
          color: #04131D;
        }
      }
  
      @media (max-width: 678px) {
        display: flex;
      }
  
      &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
        z-index: 10;
      }
    }
  }
  