#overview {
  font-family: "Bricolage Grotesque";
  padding: 0px 96px;
  margin: 80px 0px 0px;

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.header {
  h2 {
    font-weight: bold;
    font-size: 24px;
    color: #c4e5ed;

    @media (min-width: 768px) {
      font-size: 32px;
    }

    @media (min-width: 1440px) {
    }
  }

  p {
    color: #c4e5ed;
    margin: 1rem 0rem;
  }
}

.boxes-general {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    .box:nth-child(3) {
      grid-column: 1 / -1;
      width: 100%;
    }
  }

  @media (min-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;

    .box:nth-child(3) {
      grid-column: auto;
      max-width: none;
      margin: 0;
    }
  }
}

.box {
  background: #0b273e;
  border-radius: 8px;
  color: #b8e5ed;
  position: relative;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 0.8rem;

  .box__icon{
    &:hover {
      animation: wiggle 0.4s ease-out forwards;
    }

    padding-top: 1.8rem;

    @keyframes wiggle {
      33% {
        transform: scale(1.03) rotate(3deg);
      }
      66% {
        transform: scale(1.03) rotate(-1deg);
      }
      100% {
        transform: scale(1) rotate(0deg);
      }
    }

  }


  @media (min-width: 768px) {
    min-height: 200px;
  }

  @media (min-width: 1440px) {
    min-height: 220px;
  }
}


