footer {
    font-family: "Bricolage Grotesque";
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B8E5ED;
    font-size: 0.9rem;
    padding: 2rem 2rem;
    font-weight: 500;

    @media (max-width: 767px) {
        padding: 2rem 20px;
    }

    @media(max-width: 393px){
        flex-direction: column;
    }
}