#faq {
    margin-top: 5rem;
    padding: 0 6rem;
    @media(max-width:766px){
        padding: 0 20px;
    }
    .faqText{
        color: #B8E5ED;
        h1{
            font-family: "Bricolage Grotesque";
            font-weight: bold;
        }
        p{
            font-size: 0.9rem;
            font-family: "Bricolage Grotesque";
            font-weight: normal;

            a{
                color: #B8E5ED;
                text-decoration: underline;
            }
        }
    }
    .accordionContainer{
        display: flex;
        justify-content: space-between;
        gap: 0.7rem;
        margin-top: 1.5rem;
        @media (max-width: 766px){
            flex-direction: column;
            // padding: 0 4rem;
            gap: 0.75rem;
        }
        .accordion1,.accordion2{
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            button{
                padding: 0px 10px;
            }
            
            div{
                color: #B8E5ED;
                border-radius: 0.5rem;
                background-color: #0B273E;
            }
    
            span, p {
                max-width: 1000px;
                font-family: "Reddit Sans";
                // text-wrap: nowrap;
                margin-left: 0.08rem;
                // font-weight: 300;
                

            }
        }
    }

}

@media (min-width: 1441px) {
    #faq {
        padding: 0 18rem;
    }
}